@import './base.css';

/* app mount */

#app {
  padding: 1rem;
  background: white;
}

html.dark #app {
  background: black;
}

/* The site container */

.noAnim .aurora-gradient-animation::after {
  animation: none !important;
}

html.zTheme #bodyPanel {
  background-image: url('/bgZtheme.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#bodyPanel {
  overflow: hidden;
  text-align: left;
}

#bodyPanel:before {
  content: '';
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background: inherit;
  border-radius: 1.5rem;
  transition: filter 1s;
}

html.dark #bodyPanel:before {
  transition: filter 1s;
  filter: invert(1);
}

/* Faeq title - home page*/

#Faeq:before {
  content: '';
  background: url(/underline.png) no-repeat;
  position: absolute;
  width: 288px;
  height: 20px;
  bottom: 2.7rem;
}

/* after is in scoped styles - extends underline */
html.dark #Faeq:after,
html.dark #Faeq:before {
  filter: invert(1) brightness(1.5);
}
