<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      href="https://avatars.githubusercontent.com/u/61658458?v=4"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      src="https://unpkg.com/alpinejs"
      defer
    ></script>
    <title>Faeq</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
  }
</style>